.body, .body-index, .body-historia, .body-discografia, .body-galeria, .body-contacto {
  background-color: #d9d9b9; }

.simbolo-izq, .body-index nav .simbolo-izq, .body-historia nav .simbolo-izq, .body-discografia nav .simbolo-izq, .body-galeria nav .simbolo-izq, .body-contacto nav .simbolo-izq {
  position: absolute;
  left: 150px;
  width: 80px;
  height: 80px; }

.simbolo-der, .body-index nav .simbolo-der, .body-historia nav .simbolo-der, .body-discografia nav .simbolo-der, .body-galeria nav .simbolo-der, .body-contacto nav .simbolo-der {
  position: absolute;
  right: 150px;
  width: 80px;
  height: 80px; }

.nav-a, .body-index nav a, .body-historia nav a, .body-discografia nav a, .body-galeria nav a, .body-contacto nav a {
  color: #141212;
  text-decoration: none;
  font-size: 25px;
  border-color: #141212;
  border-style: groove;
  padding: 10px;
  margin: 10px 20px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.443), rgba(128, 128, 128, 0.754));
  transition: color, 2s; }

.hover, .body-index nav a:hover, .body-historia nav a:hover, .body-discografia nav a:hover, .body-galeria nav a:hover, .body-contacto nav a:hover {
  color: rgba(244, 234, 234, 0.903);
  font-style: italic; }

.footer, .body-index .footer-index {
  background-color: #91ab5f;
  border-color: #141212;
  border-style: double;
  width: 75vw;
  margin: auto;
  text-align: center;
  margin-top: 73px; }

.footer-h4, .body-index .footer-index h4, .body-historia .footer-historia h4, .body-discografia .footer-discografia h4, .body-galeria .footer-galeria h4, .body-contacto .footer-contacto h4 {
  text-align: center;
  font-size: 25px;
  text-decoration: underline;
  margin-bottom: 5px; }

.footer-p, .body-index .footer-index p, .body-historia .footer-historia p, .body-discografia .footer-discografia p, .body-galeria .footer-galeria p, .body-contacto .footer-contacto p {
  text-decoration: underline;
  margin-bottom: 10px; }

.footer-a, .body-index .footer-index a, .body-historia .footer-historia a, .body-discografia .footer-discografia a, .body-galeria .footer-galeria a, .body-contacto .footer-contacto a {
  margin: 10px; }

.footer-a-img, .body-index .footer-index a img, .body-historia .footer-historia a img, .body-discografia .footer-discografia a img, .body-galeria .footer-galeria a img, .body-contacto .footer-contacto a img {
  width: 50px;
  height: 50px; }

.logo-izq, .body-index .footer-index .logo-izq {
  position: absolute;
  left: 300px;
  width: 90px;
  height: 90px; }

.logo-der, .body-index .footer-index .logo-der {
  position: absolute;
  right: 300px;
  width: 90px;
  height: 90px; }

.body, .body-index, .body-historia, .body-discografia, .body-galeria, .body-contacto {
  background-color: #d9d9b9; }

.simbolo-izq, .body-index nav .simbolo-izq, .body-historia nav .simbolo-izq, .body-discografia nav .simbolo-izq, .body-galeria nav .simbolo-izq, .body-contacto nav .simbolo-izq {
  position: absolute;
  left: 150px;
  width: 80px;
  height: 80px; }

.simbolo-der, .body-index nav .simbolo-der, .body-historia nav .simbolo-der, .body-discografia nav .simbolo-der, .body-galeria nav .simbolo-der, .body-contacto nav .simbolo-der {
  position: absolute;
  right: 150px;
  width: 80px;
  height: 80px; }

.nav-a, .body-index nav a, .body-historia nav a, .body-discografia nav a, .body-galeria nav a, .body-contacto nav a {
  color: #141212;
  text-decoration: none;
  font-size: 25px;
  border-color: #141212;
  border-style: groove;
  padding: 10px;
  margin: 10px 20px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.443), rgba(128, 128, 128, 0.754));
  transition: color, 2s; }

.hover, .body-index nav a:hover, .body-historia nav a:hover, .body-discografia nav a:hover, .body-galeria nav a:hover, .body-contacto nav a:hover {
  color: rgba(244, 234, 234, 0.903);
  font-style: italic; }

.footer, .body-index .footer-index {
  background-color: #91ab5f;
  border-color: #141212;
  border-style: double;
  width: 75vw;
  margin: auto;
  text-align: center;
  margin-top: 73px; }

.footer-h4, .body-index .footer-index h4, .body-historia .footer-historia h4, .body-discografia .footer-discografia h4, .body-galeria .footer-galeria h4, .body-contacto .footer-contacto h4 {
  text-align: center;
  font-size: 25px;
  text-decoration: underline;
  margin-bottom: 5px; }

.footer-p, .body-index .footer-index p, .body-historia .footer-historia p, .body-discografia .footer-discografia p, .body-galeria .footer-galeria p, .body-contacto .footer-contacto p {
  text-decoration: underline;
  margin-bottom: 10px; }

.footer-a, .body-index .footer-index a, .body-historia .footer-historia a, .body-discografia .footer-discografia a, .body-galeria .footer-galeria a, .body-contacto .footer-contacto a {
  margin: 10px; }

.footer-a-img, .body-index .footer-index a img, .body-historia .footer-historia a img, .body-discografia .footer-discografia a img, .body-galeria .footer-galeria a img, .body-contacto .footer-contacto a img {
  width: 50px;
  height: 50px; }

.logo-izq, .body-index .footer-index .logo-izq {
  position: absolute;
  left: 300px;
  width: 90px;
  height: 90px; }

.logo-der, .body-index .footer-index .logo-der {
  position: absolute;
  right: 300px;
  width: 90px;
  height: 90px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

.body-index nav {
  text-align: center; }

.body-index .main-index h1 {
  font-size: 400%;
  text-align: center;
  margin: 40px 0px;
  text-decoration: underline; }

.body-index .main-index h2 {
  text-align: center;
  font-size: 200%;
  text-decoration: underline; }

.body-index .main-index div {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 50px; }

.body-index .main-index img {
  height: 500px;
  margin: auto; }

.body-index .main-index p {
  font-size: 20px;
  line-height: 30px;
  width: 400px;
  margin-left: 400px;
  padding: 15px;
  border: 3px double black; }

.body, .body-index, .body-historia, .body-discografia, .body-galeria, .body-contacto {
  background-color: #d9d9b9; }

.simbolo-izq, .body-index nav .simbolo-izq, .body-historia nav .simbolo-izq, .body-discografia nav .simbolo-izq, .body-galeria nav .simbolo-izq, .body-contacto nav .simbolo-izq {
  position: absolute;
  left: 150px;
  width: 80px;
  height: 80px; }

.simbolo-der, .body-index nav .simbolo-der, .body-historia nav .simbolo-der, .body-discografia nav .simbolo-der, .body-galeria nav .simbolo-der, .body-contacto nav .simbolo-der {
  position: absolute;
  right: 150px;
  width: 80px;
  height: 80px; }

.nav-a, .body-index nav a, .body-historia nav a, .body-discografia nav a, .body-galeria nav a, .body-contacto nav a {
  color: #141212;
  text-decoration: none;
  font-size: 25px;
  border-color: #141212;
  border-style: groove;
  padding: 10px;
  margin: 10px 20px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.443), rgba(128, 128, 128, 0.754));
  transition: color, 2s; }

.hover, .body-index nav a:hover, .body-historia nav a:hover, .body-discografia nav a:hover, .body-galeria nav a:hover, .body-contacto nav a:hover {
  color: rgba(244, 234, 234, 0.903);
  font-style: italic; }

.footer, .body-index .footer-index {
  background-color: #91ab5f;
  border-color: #141212;
  border-style: double;
  width: 75vw;
  margin: auto;
  text-align: center;
  margin-top: 73px; }

.footer-h4, .body-index .footer-index h4, .body-historia .footer-historia h4, .body-discografia .footer-discografia h4, .body-galeria .footer-galeria h4, .body-contacto .footer-contacto h4 {
  text-align: center;
  font-size: 25px;
  text-decoration: underline;
  margin-bottom: 5px; }

.footer-p, .body-index .footer-index p, .body-historia .footer-historia p, .body-discografia .footer-discografia p, .body-galeria .footer-galeria p, .body-contacto .footer-contacto p {
  text-decoration: underline;
  margin-bottom: 10px; }

.footer-a, .body-index .footer-index a, .body-historia .footer-historia a, .body-discografia .footer-discografia a, .body-galeria .footer-galeria a, .body-contacto .footer-contacto a {
  margin: 10px; }

.footer-a-img, .body-index .footer-index a img, .body-historia .footer-historia a img, .body-discografia .footer-discografia a img, .body-galeria .footer-galeria a img, .body-contacto .footer-contacto a img {
  width: 50px;
  height: 50px; }

.logo-izq, .body-index .footer-index .logo-izq {
  position: absolute;
  left: 300px;
  width: 90px;
  height: 90px; }

.logo-der, .body-index .footer-index .logo-der {
  position: absolute;
  right: 300px;
  width: 90px;
  height: 90px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

.body-historia nav {
  text-align: center; }

.body-historia .main-historia h1 {
  font-size: 50px;
  text-decoration: underline;
  margin-top: 40px;
  text-align: center; }

.body-historia .main-historia .article-inicios h2 {
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
  margin-top: 40px;
  margin-bottom: 20px; }

.body-historia .main-historia .article-inicios p {
  font-size: 25px;
  line-height: 30px;
  width: 650px;
  margin-left: 650px; }

.body-historia .main-historia .article-exito h2 {
  text-align: center;
  font-size: 40px;
  text-decoration: underline;
  margin-bottom: 20px;
  margin-top: 20px; }

.body-historia .main-historia .article-exito p {
  font-size: 25px;
  line-height: 30px;
  width: 650px;
  margin-left: 650px; }

.body-historia .footer-historia {
  background-color: #91ab5f;
  border-color: #141212;
  border-style: double;
  width: 75vw;
  margin: auto;
  text-align: center; }

.body, .body-index, .body-historia, .body-discografia, .body-galeria, .body-contacto {
  background-color: #d9d9b9; }

.simbolo-izq, .body-index nav .simbolo-izq, .body-historia nav .simbolo-izq, .body-discografia nav .simbolo-izq, .body-galeria nav .simbolo-izq, .body-contacto nav .simbolo-izq {
  position: absolute;
  left: 150px;
  width: 80px;
  height: 80px; }

.simbolo-der, .body-index nav .simbolo-der, .body-historia nav .simbolo-der, .body-discografia nav .simbolo-der, .body-galeria nav .simbolo-der, .body-contacto nav .simbolo-der {
  position: absolute;
  right: 150px;
  width: 80px;
  height: 80px; }

.nav-a, .body-index nav a, .body-historia nav a, .body-discografia nav a, .body-galeria nav a, .body-contacto nav a {
  color: #141212;
  text-decoration: none;
  font-size: 25px;
  border-color: #141212;
  border-style: groove;
  padding: 10px;
  margin: 10px 20px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.443), rgba(128, 128, 128, 0.754));
  transition: color, 2s; }

.hover, .body-index nav a:hover, .body-historia nav a:hover, .body-discografia nav a:hover, .body-galeria nav a:hover, .body-contacto nav a:hover {
  color: rgba(244, 234, 234, 0.903);
  font-style: italic; }

.footer, .body-index .footer-index {
  background-color: #91ab5f;
  border-color: #141212;
  border-style: double;
  width: 75vw;
  margin: auto;
  text-align: center;
  margin-top: 73px; }

.footer-h4, .body-index .footer-index h4, .body-historia .footer-historia h4, .body-discografia .footer-discografia h4, .body-galeria .footer-galeria h4, .body-contacto .footer-contacto h4 {
  text-align: center;
  font-size: 25px;
  text-decoration: underline;
  margin-bottom: 5px; }

.footer-p, .body-index .footer-index p, .body-historia .footer-historia p, .body-discografia .footer-discografia p, .body-galeria .footer-galeria p, .body-contacto .footer-contacto p {
  text-decoration: underline;
  margin-bottom: 10px; }

.footer-a, .body-index .footer-index a, .body-historia .footer-historia a, .body-discografia .footer-discografia a, .body-galeria .footer-galeria a, .body-contacto .footer-contacto a {
  margin: 10px; }

.footer-a-img, .body-index .footer-index a img, .body-historia .footer-historia a img, .body-discografia .footer-discografia a img, .body-galeria .footer-galeria a img, .body-contacto .footer-contacto a img {
  width: 50px;
  height: 50px; }

.logo-izq, .body-index .footer-index .logo-izq {
  position: absolute;
  left: 300px;
  width: 90px;
  height: 90px; }

.logo-der, .body-index .footer-index .logo-der {
  position: absolute;
  right: 300px;
  width: 90px;
  height: 90px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

.body-discografia nav {
  text-align: center; }

.body-discografia .grid-main-discografia h1 {
  font-size: 60px;
  line-height: 200px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: underline;
  text-align: center; }

.body-discografia .grid-main-discografia h2 {
  font-size: 35px;
  line-height: 80px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: underline;
  text-align: center; }

.body-discografia .grid-main-discografia .grid-section-discografia {
  display: grid;
  grid-template-areas: "night-visions smoke-mirrors evolve" "origins mercury none";
  padding: 0% 10% 10% 10%; }
  .body-discografia .grid-main-discografia .grid-section-discografia .night-visions {
    grid-area: night-visions; }
  .body-discografia .grid-main-discografia .grid-section-discografia .smoke-mirrors {
    grid-area: smoke-mirrors; }
  .body-discografia .grid-main-discografia .grid-section-discografia .evolve {
    grid-area: evolve; }
  .body-discografia .grid-main-discografia .grid-section-discografia .origins {
    grid-area: origins; }
  .body-discografia .grid-main-discografia .grid-section-discografia .mercury {
    grid-area: mercury; }

.body-discografia .footer-discografia {
  background-color: #91ab5f;
  border-color: #141212;
  border-style: double;
  width: 75vw;
  margin: auto;
  text-align: center; }

.body, .body-index, .body-historia, .body-discografia, .body-galeria, .body-contacto {
  background-color: #d9d9b9; }

.simbolo-izq, .body-index nav .simbolo-izq, .body-historia nav .simbolo-izq, .body-discografia nav .simbolo-izq, .body-galeria nav .simbolo-izq, .body-contacto nav .simbolo-izq {
  position: absolute;
  left: 150px;
  width: 80px;
  height: 80px; }

.simbolo-der, .body-index nav .simbolo-der, .body-historia nav .simbolo-der, .body-discografia nav .simbolo-der, .body-galeria nav .simbolo-der, .body-contacto nav .simbolo-der {
  position: absolute;
  right: 150px;
  width: 80px;
  height: 80px; }

.nav-a, .body-index nav a, .body-historia nav a, .body-discografia nav a, .body-galeria nav a, .body-contacto nav a {
  color: #141212;
  text-decoration: none;
  font-size: 25px;
  border-color: #141212;
  border-style: groove;
  padding: 10px;
  margin: 10px 20px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.443), rgba(128, 128, 128, 0.754));
  transition: color, 2s; }

.hover, .body-index nav a:hover, .body-historia nav a:hover, .body-discografia nav a:hover, .body-galeria nav a:hover, .body-contacto nav a:hover {
  color: rgba(244, 234, 234, 0.903);
  font-style: italic; }

.footer, .body-index .footer-index {
  background-color: #91ab5f;
  border-color: #141212;
  border-style: double;
  width: 75vw;
  margin: auto;
  text-align: center;
  margin-top: 73px; }

.footer-h4, .body-index .footer-index h4, .body-historia .footer-historia h4, .body-discografia .footer-discografia h4, .body-galeria .footer-galeria h4, .body-contacto .footer-contacto h4 {
  text-align: center;
  font-size: 25px;
  text-decoration: underline;
  margin-bottom: 5px; }

.footer-p, .body-index .footer-index p, .body-historia .footer-historia p, .body-discografia .footer-discografia p, .body-galeria .footer-galeria p, .body-contacto .footer-contacto p {
  text-decoration: underline;
  margin-bottom: 10px; }

.footer-a, .body-index .footer-index a, .body-historia .footer-historia a, .body-discografia .footer-discografia a, .body-galeria .footer-galeria a, .body-contacto .footer-contacto a {
  margin: 10px; }

.footer-a-img, .body-index .footer-index a img, .body-historia .footer-historia a img, .body-discografia .footer-discografia a img, .body-galeria .footer-galeria a img, .body-contacto .footer-contacto a img {
  width: 50px;
  height: 50px; }

.logo-izq, .body-index .footer-index .logo-izq {
  position: absolute;
  left: 300px;
  width: 90px;
  height: 90px; }

.logo-der, .body-index .footer-index .logo-der {
  position: absolute;
  right: 300px;
  width: 90px;
  height: 90px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

.body-galeria nav {
  text-align: center; }

.body-galeria .main-galeria {
  text-align: center; }
  .body-galeria .main-galeria h1 {
    margin-top: 50px;
    text-decoration: underline;
    font-size: 60px; }
  .body-galeria .main-galeria h2 {
    text-decoration: underline;
    font-size: 40px; }
  .body-galeria .main-galeria .fotos-conciertos .foto-concierto-2 {
    width: 675px;
    height: 450px; }

.body-galeria .footer-galeria {
  background-color: #91ab5f;
  border-color: #141212;
  border-style: double;
  width: 75vw;
  margin: auto;
  text-align: center; }

.body, .body-index, .body-historia, .body-discografia, .body-galeria, .body-contacto {
  background-color: #d9d9b9; }

.simbolo-izq, .body-index nav .simbolo-izq, .body-historia nav .simbolo-izq, .body-discografia nav .simbolo-izq, .body-galeria nav .simbolo-izq, .body-contacto nav .simbolo-izq {
  position: absolute;
  left: 150px;
  width: 80px;
  height: 80px; }

.simbolo-der, .body-index nav .simbolo-der, .body-historia nav .simbolo-der, .body-discografia nav .simbolo-der, .body-galeria nav .simbolo-der, .body-contacto nav .simbolo-der {
  position: absolute;
  right: 150px;
  width: 80px;
  height: 80px; }

.nav-a, .body-index nav a, .body-historia nav a, .body-discografia nav a, .body-galeria nav a, .body-contacto nav a {
  color: #141212;
  text-decoration: none;
  font-size: 25px;
  border-color: #141212;
  border-style: groove;
  padding: 10px;
  margin: 10px 20px;
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.443), rgba(128, 128, 128, 0.754));
  transition: color, 2s; }

.hover, .body-index nav a:hover, .body-historia nav a:hover, .body-discografia nav a:hover, .body-galeria nav a:hover, .body-contacto nav a:hover {
  color: rgba(244, 234, 234, 0.903);
  font-style: italic; }

.footer, .body-index .footer-index {
  background-color: #91ab5f;
  border-color: #141212;
  border-style: double;
  width: 75vw;
  margin: auto;
  text-align: center;
  margin-top: 73px; }

.footer-h4, .body-index .footer-index h4, .body-historia .footer-historia h4, .body-discografia .footer-discografia h4, .body-galeria .footer-galeria h4, .body-contacto .footer-contacto h4 {
  text-align: center;
  font-size: 25px;
  text-decoration: underline;
  margin-bottom: 5px; }

.footer-p, .body-index .footer-index p, .body-historia .footer-historia p, .body-discografia .footer-discografia p, .body-galeria .footer-galeria p, .body-contacto .footer-contacto p {
  text-decoration: underline;
  margin-bottom: 10px; }

.footer-a, .body-index .footer-index a, .body-historia .footer-historia a, .body-discografia .footer-discografia a, .body-galeria .footer-galeria a, .body-contacto .footer-contacto a {
  margin: 10px; }

.footer-a-img, .body-index .footer-index a img, .body-historia .footer-historia a img, .body-discografia .footer-discografia a img, .body-galeria .footer-galeria a img, .body-contacto .footer-contacto a img {
  width: 50px;
  height: 50px; }

.logo-izq, .body-index .footer-index .logo-izq {
  position: absolute;
  left: 300px;
  width: 90px;
  height: 90px; }

.logo-der, .body-index .footer-index .logo-der {
  position: absolute;
  right: 300px;
  width: 90px;
  height: 90px; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }

.body-contacto nav {
  text-align: center; }

.body-contacto .main-contacto {
  width: 550px;
  margin: auto;
  margin-top: 100px;
  text-align: center; }
  .body-contacto .main-contacto h1 {
    font-size: 50px;
    text-decoration: underline; }
  .body-contacto .main-contacto form {
    margin-top: 50px; }
  .body-contacto .main-contacto label,
  .body-contacto .main-contacto .opinion {
    color: rgba(0, 0, 0, 0.916);
    font-weight: 600; }
  .body-contacto .main-contacto textarea {
    width: 550px;
    height: 110px;
    transition: 2s all; }
    .body-contacto .main-contacto textarea:focus {
      width: 500px;
      font-size: 20px; }

.body-contacto .footer-contacto {
  background-color: #91ab5f;
  border-color: #141212;
  border-style: double;
  width: 75vw;
  margin: auto;
  text-align: center;
  margin-top: 159px; }

@media (max-width: 480px) {
  .body-index {
    background-color: #d9d9b9; }
    .body-index nav {
      text-align: center; }
      .body-index nav .simbolo-izq {
        position: absolute;
        left: 0px;
        width: 50px;
        height: 50px; }
      .body-index nav .simbolo-der {
        position: absolute;
        right: 0px;
        width: 50px;
        height: 50px; }
      .body-index nav a {
        color: #141212;
        text-decoration: none;
        font-size: 15px;
        border-color: #141212;
        border-style: groove;
        padding: 5px;
        margin: 3px 1px;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.443), rgba(128, 128, 128, 0.754));
        transition: color, 2s; }
        .body-index nav a:hover {
          color: rgba(244, 234, 234, 0.903);
          font-style: italic; }
    .body-index .main-index h1 {
      font-size: 200%;
      text-align: center;
      margin: 10px 0px;
      text-decoration: underline; }
    .body-index .main-index h2 {
      text-align: center;
      font-size: 150%;
      text-decoration: underline; }
    .body-index .main-index div {
      display: flex;
      flex-direction: column-reverse;
      margin-top: 25px; }
    .body-index .main-index img {
      padding-top: 10px;
      height: 250px;
      margin: auto; }
    .body-index .main-index p {
      font-size: 15px;
      line-height: 20px;
      width: 300px;
      margin-left: 75px;
      padding: 7px;
      border: 2px double black; }
    .body-index .footer-index {
      background-color: #91ab5f;
      border-color: #141212;
      border-style: double;
      width: 100vw;
      margin: auto;
      text-align: center;
      margin-top: 40px; }
      .body-index .footer-index .logo-izq {
        position: absolute;
        left: 10px;
        width: 70px;
        height: 50px; }
      .body-index .footer-index .logo-der {
        position: absolute;
        right: 10px;
        width: 70px;
        height: 50px; }
      .body-index .footer-index h4 {
        text-align: center;
        font-size: 15px;
        text-decoration: underline;
        margin-bottom: 2px; }
      .body-index .footer-index p {
        text-decoration: underline;
        margin-bottom: 5px; }
      .body-index .footer-index a {
        margin: 5px; }
        .body-index .footer-index a img {
          width: 25px;
          height: 25px; }
  .body-historia {
    background-color: #d9d9b9; }
    .body-historia nav {
      text-align: center; }
      .body-historia nav .simbolo-izq {
        position: absolute;
        left: 0px;
        width: 50px;
        height: 50px; }
      .body-historia nav .simbolo-der {
        position: absolute;
        right: 0px;
        width: 50px;
        height: 50px; }
      .body-historia nav a {
        color: #141212;
        text-decoration: none;
        font-size: 15px;
        border-color: #141212;
        border-style: groove;
        padding: 5px;
        margin: 3px 1px;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.443), rgba(128, 128, 128, 0.754));
        transition: color, 2s; }
        .body-historia nav a:hover {
          color: rgba(244, 234, 234, 0.903);
          font-style: italic; }
    .body-historia .main-historia h1 {
      font-size: 25px;
      text-decoration: underline;
      margin-top: 20px;
      text-align: center; }
    .body-historia .main-historia .article-inicios h2 {
      text-align: center;
      font-size: 20px;
      text-decoration: underline;
      margin-top: 10px;
      margin-bottom: 10px; }
    .body-historia .main-historia .article-inicios p {
      font-size: 15px;
      line-height: 20px;
      width: 350px;
      margin-left: 50px; }
    .body-historia .main-historia .article-exito h2 {
      text-align: center;
      font-size: 25px;
      text-decoration: underline;
      margin-bottom: 8px;
      margin-top: 8px; }
    .body-historia .main-historia .article-exito p {
      font-size: 20px;
      line-height: 20px;
      width: 350px;
      margin-left: 50px; }
    .body-historia .footer-historia {
      background-color: #91ab5f;
      border-color: #141212;
      border-style: double;
      width: 100vw;
      margin: auto;
      text-align: center;
      margin-top: 40px; }
      .body-historia .footer-historia .logo-izq {
        position: absolute;
        left: 10px;
        width: 70px;
        height: 50px; }
      .body-historia .footer-historia .logo-der {
        position: absolute;
        right: 10px;
        width: 70px;
        height: 50px; }
      .body-historia .footer-historia h4 {
        text-align: center;
        font-size: 15px;
        text-decoration: underline;
        margin-bottom: 2px; }
      .body-historia .footer-historia p {
        text-decoration: underline;
        margin-bottom: 5px; }
      .body-historia .footer-historia a {
        margin: 5px; }
        .body-historia .footer-historia a img {
          width: 25px;
          height: 25px; }
  .body-discografia {
    background-color: #d9d9b9; }
    .body-discografia nav {
      text-align: center; }
      .body-discografia nav .simbolo-izq {
        position: absolute;
        left: 0px;
        width: 50px;
        height: 50px; }
      .body-discografia nav .simbolo-der {
        position: absolute;
        right: 0px;
        width: 50px;
        height: 50px; }
      .body-discografia nav a {
        color: #141212;
        text-decoration: none;
        font-size: 15px;
        border-color: #141212;
        border-style: groove;
        padding: 5px;
        margin: 3px 1px;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.443), rgba(128, 128, 128, 0.754));
        transition: color, 2s; }
        .body-discografia nav a:hover {
          color: rgba(244, 234, 234, 0.903);
          font-style: italic; }
    .body-discografia .grid-main-discografia h1 {
      font-size: 30px;
      line-height: 100px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      text-decoration: underline;
      text-align: center; }
    .body-discografia .grid-main-discografia h2 {
      font-size: 20px;
      line-height: 50px;
      font-family: Georgia, 'Times New Roman', Times, serif;
      text-decoration: underline;
      text-align: center; }
    .body-discografia .grid-main-discografia .grid-section-discografia {
      display: grid;
      grid-template-areas: "night-visions" "smoke-mirrors" "evolve" "origins" "mercury";
      padding: 0% 10% 10% 10%; }
      .body-discografia .grid-main-discografia .grid-section-discografia .night-visions {
        grid-area: night-visions; }
      .body-discografia .grid-main-discografia .grid-section-discografia .smoke-mirrors {
        grid-area: smoke-mirrors; }
      .body-discografia .grid-main-discografia .grid-section-discografia .evolve {
        grid-area: evolve; }
      .body-discografia .grid-main-discografia .grid-section-discografia .origins {
        grid-area: origins; }
      .body-discografia .grid-main-discografia .grid-section-discografia .mercury {
        grid-area: mercury; }
    .body-discografia .footer-discografia {
      background-color: #91ab5f;
      border-color: #141212;
      border-style: double;
      width: 100vw;
      margin: auto;
      text-align: center; }
      .body-discografia .footer-discografia .logo-izq {
        position: absolute;
        left: 10px;
        width: 70px;
        height: 50px; }
      .body-discografia .footer-discografia .logo-der {
        position: absolute;
        right: 10px;
        width: 70px;
        height: 50px; }
      .body-discografia .footer-discografia h4 {
        text-align: center;
        font-size: 15px;
        text-decoration: underline;
        margin-bottom: 2px; }
      .body-discografia .footer-discografia p {
        text-decoration: underline;
        margin-bottom: 5px; }
      .body-discografia .footer-discografia a {
        margin: 5px; }
        .body-discografia .footer-discografia a img {
          width: 25px;
          height: 25px; }
  .body-galeria {
    background-color: #d9d9b9; }
    .body-galeria nav {
      text-align: center; }
      .body-galeria nav .simbolo-izq {
        position: absolute;
        left: 0px;
        width: 50px;
        height: 50px; }
      .body-galeria nav .simbolo-der {
        position: absolute;
        right: 0px;
        width: 50px;
        height: 50px; }
      .body-galeria nav a {
        color: #141212;
        text-decoration: none;
        font-size: 15px;
        border-color: #141212;
        border-style: groove;
        padding: 5px;
        margin: 3px 1px;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.443), rgba(128, 128, 128, 0.754));
        transition: color, 2s; }
        .body-galeria nav a:hover {
          color: rgba(244, 234, 234, 0.903);
          font-style: italic; }
    .body-galeria .main-galeria {
      text-align: center; }
      .body-galeria .main-galeria h1 {
        margin-top: 20px;
        text-decoration: underline;
        font-size: 30px; }
      .body-galeria .main-galeria h2 {
        text-decoration: underline;
        font-size: 20px; }
      .body-galeria .main-galeria img {
        padding-right: 20px;
        width: 200px;
        height: 200px; }
    .body-galeria .footer-galeria {
      background-color: #91ab5f;
      border-color: #141212;
      border-style: double;
      width: 100vw;
      margin: auto;
      text-align: center;
      margin-top: 170px; }
      .body-galeria .footer-galeria .logo-izq {
        position: absolute;
        left: 10px;
        width: 70px;
        height: 50px; }
      .body-galeria .footer-galeria .logo-der {
        position: absolute;
        right: 10px;
        width: 70px;
        height: 50px; }
      .body-galeria .footer-galeria h4 {
        text-align: center;
        font-size: 15px;
        text-decoration: underline;
        margin-bottom: 2px; }
      .body-galeria .footer-galeria p {
        text-decoration: underline;
        margin-bottom: 5px; }
      .body-galeria .footer-galeria a {
        margin: 5px; }
        .body-galeria .footer-galeria a img {
          width: 25px;
          height: 25px; }
  .body-contacto {
    background-color: #d9d9b9; }
    .body-contacto nav {
      text-align: center; }
      .body-contacto nav .simbolo-izq {
        position: absolute;
        left: 0px;
        width: 50px;
        height: 50px; }
      .body-contacto nav .simbolo-der {
        position: absolute;
        right: 0px;
        width: 50px;
        height: 50px; }
      .body-contacto nav a {
        color: #141212;
        text-decoration: none;
        font-size: 15px;
        border-color: #141212;
        border-style: groove;
        padding: 5px;
        margin: 3px 1px;
        background-image: linear-gradient(to top, rgba(0, 0, 0, 0.443), rgba(128, 128, 128, 0.754));
        transition: color, 2s; }
        .body-contacto nav a:hover {
          color: rgba(244, 234, 234, 0.903);
          font-style: italic; }
    .body-contacto .main-contacto {
      width: 300px;
      margin: auto;
      margin-top: 50px;
      text-align: center; }
      .body-contacto .main-contacto h1 {
        font-size: 25px;
        text-decoration: underline; }
      .body-contacto .main-contacto form {
        margin-top: 25px; }
      .body-contacto .main-contacto label,
      .body-contacto .main-contacto .opinion {
        color: rgba(0, 0, 0, 0.916);
        font-weight: 600; }
      .body-contacto .main-contacto textarea {
        width: 300px;
        height: 65px;
        transition: 2s all; }
        .body-contacto .main-contacto textarea:focus {
          width: 280px;
          font-size: 20px; }
    .body-contacto .footer-contacto {
      background-color: #91ab5f;
      border-color: #141212;
      border-style: double;
      width: 100vw;
      margin: auto;
      text-align: center;
      margin-top: 110px; }
      .body-contacto .footer-contacto .logo-izq {
        position: absolute;
        left: 10px;
        width: 70px;
        height: 50px; }
      .body-contacto .footer-contacto .logo-der {
        position: absolute;
        right: 10px;
        width: 70px;
        height: 50px; }
      .body-contacto .footer-contacto h4 {
        text-align: center;
        font-size: 15px;
        text-decoration: underline;
        margin-bottom: 2px; }
      .body-contacto .footer-contacto p {
        text-decoration: underline;
        margin-bottom: 5px; }
      .body-contacto .footer-contacto a {
        margin: 5px; }
        .body-contacto .footer-contacto a img {
          width: 25px;
          height: 25px; } }
