@import "../variables/variables";
@import "../sass2/extend";
@import "../sass2/mixins";


* {
    margin: 0;
    padding: 0;
    box-sizing: $tamaño-caja;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.body-discografia {
    @extend .body;

    nav {
        @include texto-al-centro;

        .simbolo-izq {
            @extend .simbolo-izq;
        }

        .simbolo-der {
            @extend .simbolo-der;
        }

        a {
            @extend .nav-a;

            &:hover {
                @extend .hover;
            }
        }
    }

    .grid-main-discografia {
        h1 {
            font-size: 60px;
            line-height: 200px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-decoration: underline;
            text-align: center;
        }

        h2 {
            font-size: 35px;
            line-height: 80px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-decoration: underline;
            text-align: center;
        }

        .grid-section-discografia {
            display: grid;
            grid-template-areas:
                "night-visions smoke-mirrors evolve"
                "origins mercury none";
            padding: 0% 10% 10% 10%;

            .night-visions {
                grid-area: night-visions;
            }

            .smoke-mirrors {
                grid-area: smoke-mirrors;
            }

            .evolve {
                grid-area: evolve;
            }

            .origins {
                grid-area: origins;
            }

            .mercury {
                grid-area: mercury;
            }
        }
    }

    .footer-discografia {
        background-image: linear-gradient(to right, rgb(221, 90, 90), rgb(58, 58, 198));
        border-color: rgb(20, 18, 18);
        border-style: double;
        width: 100vw;
        margin: auto;
        text-align: $alinear-al-centro;

        h4 {
            @extend .footer-h4;
        }

        a {
            @extend .footer-a;
        }
    }
}