@import "../variables/variables";
@import "../sass2/extend";
@import "../sass2/mixins";


* {
    margin: 0;
    padding: 0;
    box-sizing: $tamaño-caja;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.body-discografia {
    @extend .body;

    nav {
        @include texto-al-centro;

        .simbolo-izq {
            @extend .simbolo-izq;
        }

        .simbolo-der {
            @extend .simbolo-der;
        }

        div {
            @extend .div-a;
            a {
                @extend .nav-a;
    
                &:hover {
                    @extend .hover;
                }
            }
        }
    }

    .flex-main-discografia {
        h1 {
            font-size: 60px;
            line-height: 200px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-decoration: underline;
            text-align: center;
        }

        h2 {
            font-size: 35px;
            line-height: 80px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            text-decoration: underline;
            text-align: center;
        }

        .flex-section-discografia-1 {
            display: flex;
            justify-content: space-around;

            .night-visions {
                width: 25%;
            }
            .smoke-mirrors {
                width: 25%;
            }
            .evolve {
                width: 25%;
            }
            
        }

        .flex-section-discografia-2 {
            display: flex;
            justify-content: space-evenly;

            .origins {
                width: 35%;
            }
            .mercury {
                width: 35%;
            }
        }
    }

    .footer-discografia {
        background-color: rgb(145, 171, 95);
        border-color: rgb(20, 18, 18);
        border-style:double;
        width: 100%;
        margin: auto;
        text-align: $alinear-al-centro;
        margin-top: 30px;

        h4 {
            @extend .footer-h4;
        }

        p {
            @extend .footer-p;
        }

        a {
            @extend .footer-a;
            img {
                @extend .footer-a-img;
            }
        }
    }
}