@import "../variables/variables";
@import "../sass2/extend";
@import "../sass2/mixins";

* { 
    margin: 0;
    padding: 0;
    box-sizing: $tamaño-caja;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.body-index {
    @extend .body;

    nav {
        @include texto-al-centro;

        .simbolo-izq {
            @extend .simbolo-izq;
        }

        .simbolo-der {
            @extend .simbolo-der;
        }

        a {
            @extend .nav-a;

            &:hover {
                @extend .hover;
            }
        }
    }

    .main-index {
        h1 {
            font-size: 400%;
            text-align: map-get($redes, centro);
            margin: 40px 0px;
            text-decoration: underline;
        }

        h2 {
            text-align: map-get($redes, centro);
            font-size: 200%;
            text-decoration: underline;
        }

        div {
            display: flex;
            flex-direction: row-reverse;
            margin-top: 50px;
        }

        img {
            height: 500px;
            margin: auto;
        }

        p {
            font-size: 20px;
            line-height: 30px;
            width: 400px;
            margin-left: 400px;
            padding: 15px;
            border: 3px double black;
        }
    }

    .footer-index {
        @extend .footer;

        .logo-izq {
            @extend .logo-izq;
        }

        .logo-der {
            @extend .logo-der;
        }

        h4 {
            @extend .footer-h4;
        }

        p {
            @extend .footer-p;
        }

        a {
            @extend .footer-a;
            img {
                @extend .footer-a-img;
            }
        }
    }
}